<%- include ('../../partials/head')%>

<%- include ('../../partials/nav_horizontal') %> 

<div class="container_to-do">
    <table>
        <tr id="primeiro_to-do">
            <td><p>quero ler</p></td>
            <td><p>estou lendo</p></td>
            <td><p>ja li</p></td>
        </tr>
        <tr>
            <td><p>+</p></td>
            <td><p>+</p></td>
            <td><p>+</p></td>
        </tr>
    </table>
</div>
<%- include ('../../partials/footer')%><%- include ('../../partials/head')%>
<%- include ('../../partials/nav_horizontal')%>

<div class="container_to-do">
	<div class="lista" id="ler">
		<div class="cabecalho">
			<h2  >quero ler</h2>
		</div>
			<h5> <i data-feather="bookmark" ></i>Chorar</h5>
			<h5><i data-feather="bookmark" ></i>Dormir</h5>
			<h5><i data-feather="bookmark" ></i>Comer</h5>
	</div>
	<div class="lista" id="lendo">
		<div class="cabecalho">
			<h2 >lendo</h2>
		</div>
			<h5> <i data-feather="bookmark" ></i>Chorar</h5>
			<h5><i data-feather="bookmark" ></i>Dormir</h5>
			<h5><i data-feather="bookmark" ></i>Comer</h5>
	</div>
	<div class="lista" id="lidos">
		<div class="cabecalho">
			<h2 >lidos</h2>
		</div>
			<h5> <i data-feather="bookmark" ></i>Chorar</h5>
			<h5><i data-feather="bookmark" ></i>Dormir</h5>
			<h5><i data-feather="bookmark" ></i>Comer</h5>
	</div>
</div>



<%- include ('../../partials/footer')%>
