<%- include ('../../partials/head')%>

<%- include ('../../partials/nav_horizontal') %> 

<div class = "card-metas">
    <div class = "card_texto">
        <table>
            <tr>
                <td>jรก li</td>
                <td>meta</td>
            </tr>
            <tr>
                <td><p><%=usuario.metas.lido%></p>
                <td><p><%= usuario.metas.meta %></p>
            </tr>
        </table>
        
        
    </div>

    <progress max="100" value="<%=usuario.metas.lido / usuario.metas.meta *100%>"></progress>
    <a href="/usuario/<%=usuario._id%>/metas/new"><p>atualize sua meta</p></a>
</div>






<%- include ('../../partials/footer')%>